@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root:has([data-theme="light"]) {
  --hue-1: 50;
  --hue-2: 220;

  --main-color-1: hsl(var(--hue-1), 60%, 10%);
  --main-color-2: hsl(var(--hue-2), 60%, 10%);
  --main-danger-color: hsl(0, 60%, 10%);

  --secondary-color-1: hsl(var(--hue-1), 80%, 80%);
  --secondary-color-2: hsl(var(--hue-2), 80%, 80%);
  --secondary-danger-color: hsl(0, 80%, 85%);
}

:root:has([data-theme="dark"]) {
  --hue-1: 50;
  --hue-2: 220;

  --main-color-1: hsl(var(--hue-1), 80%, 80%);
  --main-color-2: hsl(var(--hue-2), 80%, 80%);
  --main-danger-color: hsl(0, 80%, 85%);

  --secondary-color-1: hsl(var(--hue-1), 60%, 10%);
  --secondary-color-2: hsl(var(--hue-2), 60%, 10%);
  --secondary-danger-color: hsl(0, 60%, 10%);
}

body {
  font-family: "Roboto", sans-serif;
}

.theme-switcher {
  position: fixed;
  z-index: 2;
}

.container {
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.container[data-which-shift="right"] {
  background-color: var(--secondary-color-1);
}

.container[data-which-shift="left"] {
  background-color: var(--secondary-color-2);
}

.container.wrong {
  animation: wrong-pressed-for-main-bgcolor 0.8s ease-in-out;
}

.indicator {
  opacity: 0;
}

.container[data-which-shift="right"] .indicator {
  background-color: var(--main-color-1);
}

.container[data-which-shift="left"] .indicator {
  background-color: var(--main-color-2);
}

/* If the data-which-shift of a container matches
   with its respective indicator,
   it gets active */

.container[data-which-shift="right"] .indicator.right,
.container[data-which-shift="left"] .indicator.left {
  opacity: 0.75;
}

.indicator.active.wrong {
  animation: wrong-pressed-for-secondary-bgcolor 0.8s ease-in-out;
}

.letter {
  margin: 0 auto;

  user-select: none;

  display: flex;
  gap: 1rem;

  align-self: center;
}

.letter.wrong {
  animation: wrong 0.3s ease;
}

@keyframes wrong {
  0% {
    position: relative;
    left: 10%;
  }
  50% {
    left: -10%;
  }
  100% {
    position: relative;
    left: 0;
  }
}

.letter-and-multiplier {
  position: relative;
}

.score-multiplier {
  height: 5px;
  transform-origin: center;
  transition: transform 150ms ease-out;
  border-radius: 4em;

  position: absolute;
  left: 0;
  top: 3rem;
  right: 0;

  width: 75%;
  margin: 0 auto;

  opacity: 0.2;
}

.container[data-which-shift="right"] .score-multiplier {
  background-color: var(--main-color-1);
}

.container[data-which-shift="left"] .score-multiplier {
  background-color: var(--main-color-2);
}

.letter-and-multiplier p {
  cursor: pointer;
  padding: 0.1em;
  font-weight: 700;
  font-size: 12rem;

  border-right: 1px solid;
}

.container[data-which-shift="right"] .letter p {
  color: var(--main-color-1);
  border-color: var(--main-color-1);
}
.container[data-which-shift="left"] .letter p {
  border-color: var(--main-color-2);
  color: var(--main-color-2);
}

.container[data-which-shift="right"] .scores {
  color: var(--main-color-1);
}

.container[data-which-shift="left"] .scores {
  color: var(--main-color-2);
}

.scores {
  font-size: 1rem;
  padding: 1em;
  opacity: 0.7;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  line-height: 1.3;
  text-transform: uppercase;

  align-self: center;
}

.scores.hidden {
  font-size: 0;
}

.scores.shown {
  font-size: 1rem;
}

.scores:is(.hidden, .shown) {
  transition: font-size 200ms ease-in-out;
}

.max-streak.record-set {
  text-decoration: underline;
}
